<!-- ФОРМА РЕДАКТИРОВАНИЯ СОТРУДНИКА -->
<div class="container w-50">
  <form [formGroup]="userForm" class="form-horizontal d-flex flex-column p-2">
    <h3 class="my-4">Редактирование информации</h3>
    <div class="form-group d-flex mb-3">
      <label for="exampleInputEmail1" class="control-label w-100">Фамилия
        <input type="text" class="form-control" formControlName="surname" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </label>
      <label for="exampleInputEmail1" class="form-label mx-2 w-100">Имя
        <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </label>
      <label for="exampleInputEmail1" class="form-label w-100">Отчество
        <input type="text" class="form-control" formControlName="lastname" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </label>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label w-100">Телефон
        <input type="text" class="form-control" formControlName="phone" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </label>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label w-100">Email
        <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </label>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label w-100">Дата рождения
        <input type="text" class="form-control" formControlName="birthday" id="exampleInputEmail1"
          aria-describedby="emailHelp">
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label w-100">Отдел
        <select class="form-select" formControlName="place" aria-label="Default select example">
          <option value="0">IT-отдел</option>
          <option value="1">Отдел продаж</option>
          <option value="2">Отдел доставки</option>
          <option value="3">Юр. отдел</option>
        </select>
      </label>
    </div>
    <div class="d-flex justify-content-between">
      <button [routerLink]="'/user'" class="btn btn-primary m-2" style="margin-right: 100px">Назад</button>
      <div><button (click)="userDeleteData(this.id)" class="m-2 btn btn-danger">Удалить</button>
        <button (click)="userEditData()" [disabled]="!userForm.valid" class="m-2 btn btn-success">Подтвердить</button>
      </div>
    </div>
  </form>
</div>
